:root {
  --dark-color: #193b45;
  --medium-color: #1687a7;
  --light2-color: #d3e0ea;
  --light-color: #f6f5f5;
}

.App-footer {
  text-align: center;
  color: var(--medium-color);
  font-weight: bold;
  font-size: smaller;
  font-style: italic;
  margin-bottom: 20px;
}

.footer-links:hover {
  color: var(--dark-color);
}

.footer-links:active {
  color: orange;
}

.footer-links {
  color: rgb(101, 101, 255);
}

.App {
  display: block;
  margin: 0 auto;
}

body {
  background-color: var(--light2-color);
}
@media (min-width: 1000px) {
  .App {
    max-width: 70%;
  }
}
